[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rakeshraagu2
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rakeshraagu2
	label-Verified = -1..+1 group user/rakeshraagu2
	push = group user/rakeshraagu2
	read = group user/rakeshraagu2
	rebase = group user/rakeshraagu2
	removeReviewer = group user/rakeshraagu2
	submit = group user/rakeshraagu2
[access "refs/heads/*"]
	create = group user/rakeshraagu2
	push = +force group user/rakeshraagu2
	pushMerge = group user/rakeshraagu2
	read = group user/rakeshraagu2
[access "refs/tags/*"]
	push = group user/rakeshraagu2
	push = +force group user/rakeshraagu2
